* {
    padding: 0px;
    margin: 0px;
}

/* Sidebar menu*/

.sidenav {
    height: 100%;
    width: 75px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav:hover {
    width: 160px;
}

.sidenav a{
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    text-align: left;
}

.sidenav a span {
    opacity: 0;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: opacity 0.3s ease, width 0.3s ease;
}

.sidenav:hover a span { opacity: 1; width: auto; }

.sidenav a img {
    height: 40px;
    width: auto;
    filter: invert(1);
}

.sidenav a:hover{
    color:#f1f1f1;
}
.main {
    color: white;

    display: block;
    margin-left: 75px;
    background-color: rgb(50,50,50);
    height: 100vh;
}

@media screen and (max-height:450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a{font-size:18px;}
}